.Dashboard {}

.App-header {
    background-color: gold;
    min-height: 10vh;
    display: flex;
    flex-direction: col;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}


.Customer-Detail {
    background-color:gold;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}